﻿@using MVCTicket.Models;

@inherits System.Web.Mvc.WebViewPage<IEnumerable<Ticket>>



@{
    ViewBag.Title = "Home Page";
}
@using GridMvc.Html

<div class="jumbotron">
    <h1>Ticketing Systerm</h1>
    <p>Simple ticketing system</p>
</div>

@Html.Partial("_TicketListGridView",Model)

<div class="row">

</div>