﻿@model IEnumerable<MVCTicket.Models.Ticket>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Single().Project.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finished, "ShortDateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { ticketId = item.TicketId })'">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Detail", new { ticketId = item.TicketId })'">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete", new { ticketId = item.TicketId})'">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </button>
                    @if (item.State == MVCTicket.Models.State.UnStarted || item.State == MVCTicket.Models.State.Rejected)
                    {
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("TicketStarted", new { ticketId = item.TicketId })'">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    }
                    else if (item.State == MVCTicket.Models.State.Started)
                    {
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("TicketFinished", new { ticketId = item.TicketId })'">
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>
                    }
                    else if (item.State == MVCTicket.Models.State.Finished)
                    {
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("TicketAccept", new { ticketId = item.TicketId })'">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("TicketReject", new { ticketId = item.TicketId })'">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        </button>
                    }
                </div>

            </td>

            @*<td>
                    @if (item.State == MVCTicket.Models.State.UnStarted)
                    {
                        @Html.ActionLink("Start", "TicketStarted", new { ticketId = item.TicketId })
                    }
                    else if (item.State == MVCTicket.Models.State.Started)
                    {
                        @Html.ActionLink("Finished", "TicketFinished", new { ticketId = item.TicketId })
                    }



                </td>*@
        </tr>
    }

</table>
