﻿@using MVCTicket.Models;
@inherits System.Web.Mvc.WebViewPage<IEnumerable<Ticket>>
@using GridMvc.Html



@Html.Grid(Model).Named("expenseReportGrid").Columns(columns =>
           {
               columns.Add(foo => foo.Title).SetWidth(110);
               columns.Add(foo => foo.Discription).Sortable(false);
               columns.Add(foo => foo.Project.Name).Titled("Project Name").Filterable(true);
               columns.Add(foo => foo.Type).Sortable(true);
               columns.Add(foo => foo.Started).Sortable(true);
           }).WithPaging(20).Filterable().WithMultipleFilters()

<script>
    var selectedRow;
    $(function () {
        pageGrids.expenseReportGrid.onRowSelect(function (e) {
            
            //alert(e.row);
        });
    });
</script>