﻿@model IEnumerable<MVCTicket.Models.Ticket>


@{
    ViewBag.Title = "Index";
}
@Html.AntiForgeryToken()
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_TicketList",Model)